@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
        
        body{
        background-image: url("https://previews.123rf.com/images/arborelza/arborelza1701/arborelza170100003/70672222-patr%C3%B3n-sin-fisuras-quot-la-hora-de-dulce-quot-vector-colorido-delicioso-fondo-con-tortas-pasteles-magda.jpg");
        background-color: #F2EAD0;
        background-blend-mode: soft-light;
        background-attachment: fixed; 
        margin: 5%;
        }
        #navegador{
        background-color: #EDD8BF
        }
        
@media screen and (max-width: 600px) {
        table{
        width:100%;
        margin-top: 15%;
        }
        thead {
        display: none;
        }
        tr:nth-of-type(2n) {
        background-color: inherit;
        }
        tr td:first-child {
        font-weight:bold;
        font-size: 20px;
        }
        tbody td {
        display: block;
        text-align:center;
        }
        tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
        }
        }
        .Modificador{
            background: skyblue;
        }
        .ELIMINADOR{
            background: rgb(230, 61, 61);
        }
        #tabla_new{
        background: darkslategray ;
        color: white;
        }
        .definidores{
        background-color: rgb(83, 59, 42);
        }
        .agregador_tortas{
        background-color: greenyellow;
        height: 100px;
        border-radius: 10px;
        border: groove;
        }
        .titulo{
        text-align: center;
        font-family: 'lobster', cursive;
        }

        
#TITULO{
    font-family: 'Lobster', cursive;
    font-size: 28px;
    max-width: 100%;
    
}

#cuadr_regis{
    width: 500px;
    height: 500px;
}

#link_iniciar_sesion{
    font-family: 'Lobster', cursive;    
}

#link_registro{
    font-family: 'Lobster', cursive;
    margin-right: 180px;
    
}
#letra_inicio{
    color:white;
    font-family: 'Lobster', cursive;
    
}
/* LETRA REGISTRO BOTON*/
#letra_registro{
    color: white;
    
    font-family: 'Lobster', cursive;

}    

#TITULOH1{
    font-family: 'Great Vibes', cursive;
    text-align: center;
    color: whitesmoke;
    font-size: 65px;
    max-width: 100%;
}
#logo{
    margin-right: 10px;
    max-width: 100%;
}

label{
font-size: 20px;
}

h1{
    font-family: 'lobster', cursive;
    max-width: 100%;
    margin-top: 85px;
}

#error{
 width: 300px;
 margin-top: 40px;
}
#success{
    width: 300px; 
}