
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');


body {
    background-image: url("https://cdn.kiwilimon.com/articuloimagen/16907/16908.jpg");
    background-size: cover ;
    font-family: sans-serif;
    height: 100vh; 
    max-width: 100%;
}

.img{
    max-width: 100%;
}
.form {
    width: 450px;
    height: 500px;
    background: rgba(255, 0, 0, 0.2);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50% );
    border-radius: 60px 60px 60px 60px;
    padding: 60px 40px;
    font-family: 'Lobster', cursive;
}

.form .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}

.form h4{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Lobster', cursive;
}

.form h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Lobster', cursive;
}

.form h3{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
}



.form label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-family: 'Lobster', cursive;
}

.form input{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.form input[type="text"],
.form input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(211, 27, 27);
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
}

.form input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgb(196, 21, 21);
    color: rgb(39, 14, 151);
    font-size: 18px;
    border-radius: 20px;
    
}

.form input[type="submit"]:hover {
    transform: scale(0.95);
}

.form a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    margin: 0;
    padding-left: 140px;
}

.form a:hover {
    color:white;
}


.form button{
    margin-left: 100px;
    padding-left : 70px;
    padding-right : 70px;
    color:rgb(44, 148, 173);
    background: rgb(255, 255, 255);
}
.footer {

    padding: 1.5em;
    text-align: center;
    background-color: #60371E;
    font-family: 'Lobster', cursive;
    
}


#TITULO{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    max-width: 100%;
    
}

#cuadr_regis{
    width: 500px;
    height: 500px;
}

#link_iniciar_sesion{
    font-family: 'Lobster', cursive;    
}

#link_registro{
    font-family: 'Lobster', cursive;
    margin-right: 180px;
    
}
#letra_inicio{
    color:white;
    font-family: 'Lobster', cursive;
    
}
/* LETRA REGISTRO BOTON*/
#letra_registro{
    color: white;
    font-family: 'Lobster', cursive;
}    
/*diego, te arregle el que el registro e iniciar sesion quedaran a la derecha*/ 
/*y centre un poco el titulo que pusiste , el color cambialo si sientes que esta poco visible pero era una prueba nada mas*/
#TITULOH1{
    font-family: 'Great Vibes', cursive;
    text-align: center;
    color: whitesmoke;
    font-size: 65px;
    max-width: 100%;
    
}

#logo{
    margin-right: 10px;
    max-width: 100%;
}

.clear{clear:both;}

.separar {
    margin-right: 10px;
    
}

form{
    font-family: 'lobster';
}

ul{
    font-family: 'lobster', cursive;
    margin-left: 30px;
    font-size: 20px;
}

form .error{
    color: #fa8c8c;
    font-family: 'Roboto', sans-serif;
  }

@media screen and (max-width:500px) {     .grid-container {         display: flex;         flex-direction: column;     } }